workflows/occasions-1.json
{
  "id": "Sf6NmJEsbhg8Ga4_cjw6c",
  "name": "occasions",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mCgRXGiCJzn-q7p0wsH1UBR_aVaR8BDQAj2WovsFG0o",
          "mode": "list",
          "cachedResultName": "data-birthday",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mCgRXGiCJzn-q7p0wsH1UBR_aVaR8BDQAj2WovsFG0o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mCgRXGiCJzn-q7p0wsH1UBR_aVaR8BDQAj2WovsFG0o/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        32
      ],
      "id": "9d006811-35bc-4646-9d98-991b0d3dce01",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hi5S4BHGhJEqZvOG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4QLxxjCB3xdsAqmIt1AYn",
          "mode": "list",
          "cachedResultUrl": "/workflow/4QLxxjCB3xdsAqmIt1AYn",
          "cachedResultName": "todays_events (sub)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        656,
        32
      ],
      "id": "b0dc737e-ec25-4f85-b247-333dd56c8417",
      "name": "Call 'todays_events (sub)'",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "path": "cddf33c3-245d-4e47-a5a0-696d5bf4f76d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        -64
      ],
      "id": "673903cb-b148-4ea7-b43a-85f3bcb8e21c",
      "name": "Webhook",
      "webhookId": "cddf33c3-245d-4e47-a5a0-696d5bf4f76d"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        32
      ],
      "id": "fe066e62-d0ef-401e-a948-3bebfa801a70",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        128
      ],
      "id": "51652977-d60a-487a-b347-ba2459f7dd85",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of $input.all()) {\n  const newItem = { json: { ...item.json } };\n\n  let list = []\n  if (newItem.json.MiddleNames) {\n    list = newItem.json.MiddleNames\n      .split(\";\")\n      .map(n => n.trim())\n      .filter(Boolean);\n\n  }\n\n  newItem.json.MiddleNames = list;\n  \n  output.push(newItem);\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        32
      ],
      "id": "70242207-b188-4ae1-a12b-61808ae17015",
      "name": "transform middlenames"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6poFDJMxBdSm7L3s",
          "mode": "list",
          "cachedResultUrl": "/workflow/6poFDJMxBdSm7L3s",
          "cachedResultName": "message-generator (sub)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        880,
        32
      ],
      "id": "3ded4aac-4054-48e1-a0b9-31569955f29d",
      "name": "Call 'message-generator (sub)'"
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "transform middlenames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'todays_events (sub)'": {
      "main": [
        [
          {
            "node": "Call 'message-generator (sub)'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transform middlenames": {
      "main": [
        [
          {
            "node": "Call 'todays_events (sub)'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Call 'message-generator (sub)'": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Stockholm",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": []
}